*{
    box-sizing: border-box;
}

/* About: The main parent container for this page */
.about{
    width: 100%;
    min-height: 100vh;
    border: solid black 2px;
}

.int, .stats, .abt_sctn, .passions, .ig_posts{
    border: solid red 2px;
 }

/* 
Intro: The top container to introduce me
 */

.int{
    width: 100%;
    height: 80vh;
    min-height: 80vh;
    display: flex;
}
.int .picture, .dscrpt{
    width: 50%;
    height: 100%;
    /* background: black; */
    background-image: url('../../static/mainbackground.jpg');
    background-size: cover;
    background-position: center;
}
.int .dscrpt{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background: none;
    border: solid blue 2px;
}
.int .dscrpt div{
    width: 70%;
    height: 3rem;
    border: solid blue 2px;
}

/* 
Stats: Shows some of my numbers (i dont
even know what they are
 */
.stats{
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(32, 32, 32);
}
.stats .stat{
    width: 100px;
    height: 100px;
    border: solid blue 2px;
    margin: 30px;
}

/* 
Abt: A more detailed description of me
and my experience
 */
.abt_sctn{
    width: 100%;
    height: 50vh;
    min-height: 50vh;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}
.abt_sctn .box{
    width: 40%;
    max-width: 500px;
    height: 70%;
    border: solid blue 2px;
    margin: 10px;
}


/* 
Passions: A container showcasing collections
of my passions with links to their own pages
 */
.passions{
    width: 100%;
    height: 90vh;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url('../../static/MyPhotography/ArgentinaCollection/9.jpg');
    background-size: inherit;
    background-position: center;
}
.passions .categories{
    width: 85%;
    max-width: 1000px;
    height: 80%;
    display: flex;
    border: solid blue 2px;
    overflow: hidden;
}
.passions .categories div{
    flex-grow: 1;
    height: 100%;
    background: url('../../static/mtns_steamy.jpg');
    background-size: cover;
    background-position: center;
    background-position: fixed;
    /* border: solid purple 2px; */
    transform: all 0.01s ease;
    z-index: 0;
}
.passions .categories div:hover{
    transform: scaleX(1.4);
    /* transform: translateX(4px); */
}

/* 
Ig Posts: Use the IG api to pull my professional
ig account posts to the section
 */
.ig_posts{
    width: 100%;
    height: 35vh;
    min-height: 32vh;
}