.projects{
    height: 100vh;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    padding-top: 10vh;
}

.carousel{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    border: solid grey 3px;
    border-radius:  10px;
}

h3{
    margin: 0;
}