@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
}
.app{
  height: fit-content;
  width: 100%;
  background: rgb(0, 0, 0);
}
.leftside{
  float: left;
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: rgb(216, 45, 45);
  box-sizing: border-box;
}
.rightside{
  float: left;
  margin-left: 25%;
  width: 75%;
  height: 100%;
  box-sizing: border-box;
}
.box{
  float: left;
  width: 25%;
  height: 25%;
  background: rgb(12, 235, 235);
}
/* .lftside{
  float: left;
  position: fixed;
  height: 100%;
  width: 25%;
  background: #F5F5F5;
  text-align: center;
  box-sizing: border-box;
  border: solid rgb(109, 47, 255) 3px;
  padding: 3% 4% 2% 4%;
}

.rhtside{
  width: 50%;
  height: 100%;
  float: right;
  border: solid greenyellow 3px;
} */